{% load static %}
<style>
.bgimage {
  margin-top:4.5%;
  width:100%;

  background: url("{% static 'img/blue_earth.png' %}") no-repeat center center fixed;
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    height:300px;
  
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}
</style>
<section class="bgimage" id="cover">
 
</section>
<section style="background-color:#4A6670; width:100%; color:white; !important;"> 
<div class="container-fluid">
 <div class="container">
  <div class="row" style=" margin-bottom:5%;">
  <div class="col-sm-12">
	<h1 class="textbig1" style="text-align:center; color:white;">ABOUT US</h1>
	<div class="heading-border"></div>
  </div>
  <div class="row">
	<div class="col-sm-12 nav-link-w" style="color:white; !important;">
		<ul class="nav nav-tabs nav-justified" style="color:white; !important;">
		  <li class="active" style="color:white;"><a data-toggle="tab" href="#home" style="color:white;"><h4>MISSION</h4></a></li>
		  <li><a data-toggle="tab" href="#menu1" style="color:white;"><h4>VISION</h4></a></li>
		  <li><a data-toggle="tab" href="#menu2" style="color:white;"><h4>ETHICS</h4></a></li>
		</ul>

		<div class="tab-content" style="color:white !important;">
		  <div id="home" class="tab-pane fade in active" style="color:white !important;">
			<p style="text-align:justify;">Our Mission is the advancement of humanity,by providing solutions that will aid in the betterment of our world and the world we live in and interact with. We hope to improve the human conditions, preserving the beauty of nature by promoting safe, clean energy sources and advancements core to our existence. Our mission is to provide technologically advanced products and services in a simple packaging to common people and there by raising their standard of living. We hope to bring in and lead an Innovating in the field of Energy, Communication, Healthcare, Automation and more.</p>
		  </div>
		  <div id="menu1" class="tab-pane fade" style="color:white !important;">
			<p>To bring about the New Digital Renaissance to the world</p>
		  </div>
		  <div id="menu2" class="tab-pane fade" style="color:white !important;">
			<p>Nature centric development is our essence of innovation. We believe in doing the right thing,for our customers, our environment and our nation.</p>
		  </div>
		</div>
	</div>
            <!--div class="col-sm-6 ">
            <a data-fancybox href="https://www.youtube.com/watch?v=_sI_Ps7JSEk">
            <div class="video-thumbnail">
            
              <img src="https://img.youtube.com/vi/_sI_Ps7JSEk/hqdefault.jpg" ></img>

            </div>	
              </a>
            </div-->
  </div>
 </div>
  </div>
  </div>
</section>